<section id="bricks">
    <div class="row masonry">
      <div class="bricks-wrapper">
        <div class="grid-sizer"></div>

        <div class="brick entry featured-grid animate-this">
          <div class="entry-content">
            <div id="featured-post-slider" class="flexslider">
              <ul class="slides">
                <li>
                  <div class="featured-post-slide">
                    <div
                      class="post-background"
                      style="
                        background-image: url('../../../assets/images/thumbs/featured/featured-1.jpg');
                      "
                    ></div>

                    <div class="overlay"></div>

                    <div class="post-content">
                      <ul class="entry-meta">
                        <li>Agosto 19, 2021</li>
                        <li>
                          <a 
                            >Desenvolvido pela empresa Anybotics, o robô
                            Anymal será utilizado pela Vale</a
                          >
                        </li>
                      </ul>

                      <h1 class="slide-title">
                        <a title=""
                          >Robôs ganham espaço em fábricas e no campo
                          assumindo tarefas de risco</a
                        >
                      </h1>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="featured-post-slide">
                    <div
                      class="post-background"
                      style="
                        background-image: url('../../../assets/images/thumbs/featured/featured-2.jpg');
                      "
                    ></div>

                    <div class="overlay"></div>

                    <div class="post-content">
                      <ul class="entry-meta">
                        <li>Abril 04, 2020</li>
                        <li>
                          <a 
                            >Nova tecnologia possibilita, também, que
                            pacientes se comuniquem com seus familiares e
                            psicólogos</a
                          >
                        </li>
                      </ul>

                      <h1 class="slide-title">
                        <a  title=""
                          >Robôs ajudam na triagem de pacientes com COVID-19
                          no Hospital das Clínicas</a
                        >
                      </h1>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="featured-post-slide">
                    <div
                      class="post-background"
                      style="
                        background-image: url('../../../assets/images/thumbs/featured/featured-3.jpg');
                      "
                    ></div>

                    <div class="overlay"></div>

                    <div class="post-content">
                      <ul class="entry-meta">
                        <li>August 27, 2016</li>
                        <li>
                          <a class="author"
                            >Primeiros robôs ‘vivos’ são capazes de se
                            reproduzir, dizem cientistas</a
                          >
                        </li>
                      </ul>

                      <h1 class="slide-title">
                        <a href="" title=""
                          >Primeiros robôs ‘vivos’ são capazes de se
                          reproduzir, dizem cientistas</a
                        >
                      </h1>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <article class="brick entry format-standard animate-this">
            <div class="entry-thumb">
            
            <a class="thumb-link">
              <img src="../../../assets/images/thumbs/diagonal-building.jpg" alt="building" />
            </a>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a >Evolução</a>
                  <a >Tecnológica</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a>Tecnologias Exponenciais</a>
              </h1>
            </div>
            <div class="entry-excerpt">
<div class="frmt">Um relatório da <u>Singularity University Brazil</u>, realizado pela primeira vez pela comunidade global de aprendizado e inovação, analisou diferentes visões de futuros e listou as tecnologias e os caminhos que podem impactar a vida de bilhões de pessoas nos próximos anos.
</div></div>
          </div>
        </article>

        <article class="brick entry format-standard animate-this">
          <div class="entry-thumb">
            <a class="thumb-link">
              <img src="../../../assets/images/thumbs/ferris-wheel.jpg" alt="ferris wheel" />
            </a>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a>Robôs</a>
                  <a>Empresas</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a>Influência</a>
              </h1>
            </div>
            <div class="entry-excerpt">
                <div class="frmt">Afinal, em ambientes fabris, sobretudo em linhas de produção, as atividades são muito repetitivas.
            <br>Quando seres humanos desempenham essas tarefas, há grandes chances de desgaste físico, acidentes e falhas.
            <br>As máquinas, por sua vez, são capazes de executar as operações de maneira rápida e mais eficiente. 
                </div></div>
          </div>
        </article>

        <article class="brick entry format-audio animate-this">
          <div class="entry-thumb">
            
            <a class="thumb-link">
              <img src="../../../assets/images/thumbs/concert.jpg" alt="concert" />  
            </a>
            
          </div>
          <audio
              id="player"
              src="../../../assets/media/AirReview-Landmarks-02-ChasingCorporate.mp3"
              controls="controls">
            </audio>
   
          
        </article>

        <article class="brick entry format-quote animate-this">
          <div class="entry-thumb">
            <blockquote>
              
                <p>Essa revolução pela qual estamos passando também mudou a
                maneira como as pessoas trabalham. Agora, há como conectar
           indivíduos em redes de trabalho mais inteligentes.
        </p>

              <cite>Universal Robots</cite>
            </blockquote>
          </div>
        </article>

        <article class="brick entry animate-this">
          <div class="entry-thumb">
            <a class="thumb-link">
              <img src="../../../assets/images/thumbs/shutterbug.jpg" alt="Shutterbug" />
            </a>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a>Educação</a>
                  <a>Robótica</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a>Interesse na Educacão</a>
              </h1>
            </div>
            <div class="entry-excerpt">
                <div class="frmt">Na matéria TI (Tecnologia da Informação), O aluno desenvolve a capacidade de desenvolver softwares, zelar pela infraestrutura de computadores e redes e administrar banco de dados, dentre outras competências.
                </div></div>
          </div>
        </article>


        <article class="brick entry animate-this">
          <div class="entry-thumb">
            <a  class="thumb-link">
              <img src="../../../assets/images/thumbs/usaf-rocket.jpg" alt="USAF rocket" />
            </a>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a href="#">Benefícios</a>
                  <a href="#">Educação</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a >O que isto influência</a>
              </h1>
            </div>
            <div class="entry-excerpt">
                <div class="frmt"> Além de desenvolver conhecimentos e habilidades relacionadas à tecnologia e ciência, a robótica contribui com a aprendizagem em outros aspectos.
                <br>O raciocínio lógico é um deles. Afinal, os pequenos são estimulados a analisar e solucionar problemas.
                <br>
                Com isso, a criatividade também é aprimorada.
            </div></div>
          </div>
        </article>

        <article class="brick entry format-gallery group animate-this">
          <div class="entry-thumb">
            <div class="post-slider flexslider">
              <ul class="slides">
                <li>
                  <img src="../../../assets/images/thumbs/gallery/work1.jpg" />
                </li>
                <li>
                  <img src="../../../assets/images/thumbs/gallery/work2.jpg" />
                </li>
                <li>
                  <img src="../../../assets/images/thumbs/gallery/work3.jpg" />
                </li>
              </ul>
            </div>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a>Trabalho</a>
                  <a >Segurança</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a >Mão de obra "Robótica"</a>
              </h1>
            </div>
            <div class="entry-excerpt">
                <div class="frmt">Além de aumentar a produtividade e, assim, diminuir os custos da empresa, a aplicação de robôs colaborativos protege o trabalhador de lesões causadas por movimentos repetitivos ou de ambientes insalubres.
                </div>
            </div>
          </div>
        </article>

        <article class="brick entry format-link animate-this">
          <div class="entry-thumb">
            <div class="link-wrap">
              <p>O fim? Ou apenas o começo....</p>
              <cite> </cite>
            </div>
          </div>
        </article>

        <article class="brick entry animate-this">
          <div class="entry-thumb">
            <a class="thumb-link">
              <img src="../../../assets/images/thumbs/diagonal-pattern.jpg" alt="Pattern" />
            </a>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a >Robótica</a>
                  <a >Aprendizado</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a >Robótica no topo</a>
              </h1>
            </div>
            <div class="entry-excerpt">
                <div class="frmt">Nesse cenário, estudantes do Ensino Fundamental e Ensino Médio são os mais indicados para o contato com a robótica educacional, pois já estão alfabetizados e conhecem um pouco de matemática, sendo capazes de fazer operações simples.
                </div></div>
          </div>
        </article>

        <article class="brick entry animate-this">
            <div class="entry-thumb">
              <a class="thumb-link">
              <img src="../../../assets/images/thumbs/ottawa-bokeh.jpg" alt="bokeh" />
            </a>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a >Convívio</a>
                  <a >Motivação</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a >Estudos</a>
              </h1>
            </div>
            <div class="thumb-link">
              
                <div class="frmt"> Basicamente, a unidade robótica é formada a partir de quatro etapas e sistemas, estudados por disciplinas relacionadas à Matemática e à Física:
<br> 
                <b>Etapa de programação</b>, normalmente, realizada com um computador<br>
                <b>Unidade de controle</b>, que exige um processador<br>
                <b>Parte elétrica</b>, composta por motores e sensores<br>
                <b>Parte mecânica</b>, que possui engrenagens e outros componentes mecânicos.
              
                </div> </div>
          </div>
        </article>

        <article class="brick entry animate-this">
          <div class="entry-thumb">
            <a class="thumb-link">
              <img src="../../../assets/images/thumbs/lighthouse.jpg" alt="Lighthouse" />
            </a>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a >Adolescente</a>
                  <a >Trabalho</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a >Grade Curricular</a>
              </h1>
            </div>
            <div class="entry-excerpt">
                <div class="frmt"> Com a ascensão de tecnologias aplicadas ao ensino, a robótica educacional vem sendo incorporada por escolas de diversos países.
                 <br>Seja como parte da grade curricular obrigatória, disciplina extracurricular ou integrando outras matérias, a construção de robôs tem o poder de transformar o processo de aprendizagem, tornando as aulas mais divertidas e atrativas
                </div></div>
          </div>
        </article>

        <article class="brick entry animate-this">
          <div class="entry-thumb">
            <a class="thumb-link">
              <img src="../../../assets/images/thumbs/liberty.jpg" alt="Liberty" />
            </a>
          </div>

          <div class="entry-text">
            <div class="entry-header">
              <div class="entry-meta">
                <span class="cat-links">
                  <a >Desvendar</a>
                  <a>Habilidades</a>
                </span>
              </div>

              <h1 class="entry-title">
                <a >Robótica no Dia a Dia</a>
              </h1>
            </div>
            <div class="entry-excerpt">
                <div class="frmt">A robótica assume na nossa vida diária. Ela está presente em praticamente tudo que nos rodeia, tendo como objetivo concluir tarefas tradicionalmente realizadas por humanos, diminuindo a possibilidade de erros e tornando a produção mais rápida. 
                </div></div>
          </div>
        </article>

      </div>
    </div>


  </section>